<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>24G517</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>AirPortUtility</string>
	<key>CFBundleIdentifier</key>
	<string>org.hackintosh-and-beyond.driver.airportutility</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>AirPortUtility</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>1.3.2</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>28</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>25C58</string>
	<key>DTPlatformName</key>
	<string>macosx</string>
	<key>DTPlatformVersion</key>
	<string>26.2</string>
	<key>DTSDKBuild</key>
	<string>25C58</string>
	<key>DTSDKName</key>
	<string>macosx26.2</string>
	<key>DTXcode</key>
	<string>2630</string>
	<key>DTXcodeBuild</key>
	<string>17C529</string>
	<key>HackintoshAndBeyond</key>
	<dict>
		<key>Developer</key>
		<string>Hnanoto</string>
		<key>Project</key>
		<string>Hackintosh-And-Beyond</string>
	</dict>
	<key>IOKitPersonalities</key>
	<dict>
		<key>AirPortUtility</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>org.hackintosh-and-beyond.driver.airportutility</string>
			<key>IOClass</key>
			<string>AirPortUtility</string>
			<key>IOMatchCategory</key>
			<string>AirPortUtility</string>
			<key>IOProviderClass</key>
			<string>IOResources</string>
		</dict>
	</dict>
	<key>LSMinimumSystemVersion</key>
	<string>14.0</string>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.kpi.bsd</key>
		<string>8.0.0</string>
		<key>com.apple.kpi.iokit</key>
		<string>8.0.0</string>
		<key>com.apple.kpi.libkern</key>
		<string>8.0.0</string>
		<key>com.apple.kpi.mach</key>
		<string>8.0.0</string>
	</dict>
	<key>OSBundleRequired</key>
	<string>Root</string>
</dict>
</plist>
